<!DOCTYPE html>
<html>
<head>
  <title>BenchBnb</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAS5Yykq76U1TWkKwFzs1u7lulCgTM5c3M"></script>
</body>
</html>
